.post-container {
	display: flex;
	flex-direction: column;
	padding: 3%;
	margin: 0 10%;
}

.post-content {
    display: flex;
    flex-direction: row;
}

.post-content p, a {
    color: #ffffff;
    margin-left: 2%;
    margin-bottom: 2%;
}

.heading {
    color: #ffffff;
	align-items: center;
    margin-bottom: 2%;
}

.image {
	width: 350px;
	height: 350px;
}

@media screen and (max-width: 960px) {
    .post-content {
        flex-direction: column;
    }

    .post-content p {
        margin: 2% 0;
    }

    .heading {
        margin-top: 64px;
        text-align: center;
        font-size: 24px;
    }

    .image {
        object-fit: cover;
        display: block;
        margin: 0 -8%;
        scale: 0.8;
    }
}