.contact-container {
    background-color: #101010;
    text-align: center;
    margin-top: 10vh;
    height: 100%;
    overflow: hidden;
}

.contact-container > h1 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 50px;
}

.contact-container > a {
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
}