.home-container {
    background-color: #101010;
    text-align: center;
    margin-top: 10vh;
    height: 100%;
}

.home-container > h1 {
    color: #ffffff;
    font-size: 80px;
    margin-top: 0px;
}

.home-container > h2 {
    color: #ffffff;
    font-size: 36px;
    margin-top: 10px;
}

.home-bullets {
    text-align: center;
    width: 500px; 
    margin: 0 auto;
    margin-top: 5vh;
}

.home-bullets > p {
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
}

.home-btns {
    margin-top: 32px;
}

.home-btns .btn {
    margin: 6px;
}

.canvas-container {
    height: 100Vmin;
}

.canvas {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.showcase {
    margin-bottom: 10vh;
}

.showcase-img {
    border-radius: 25px;
    width: 80Vmin;
    height: 40Vmin;
}

.itch-frame {
    border-radius: 25px;
    width: 80Vmin;
    height: 20Vmin;
    margin-bottom: 10vh;
    border: transparent;
}

@media screen and (max-width: 800px) {
    .home-container > h1 {
        font-size: 40px;
        margin-top: 50px;
    }

    .home-container > h2 {
        font-size: 20px;
    }

    .home-container > p {
        font-size: 20px;
    }

    .home-bullets {
        width: 370px;
    }
    
    .home-bullets > p {
        font-size: 12px;
    }
}