.profile-container {
    background-color: #101010;
    text-align: center;
    margin-top: 20vh;
    height: 100%;
    overflow: hidden;
}

.profile-container > h1 {
    color: #ffffff;
    font-size: 80px;
    margin-top: 0px;
}

.profile-container > h2 {
    color: #ffffff;
    font-size: 35px;
    margin-top: 10px;
}

.profile-btns {
    margin-top: 32px;
}

.profile-btns .btn {
    margin: 6px;
}

@media screen and (max-width: 800px) {
    .profile-container > h1 {
        font-size: 40px;
        margin-top: 50px;
    }
    .profile-container > p {
        font-size: 20px;
    }
}