* {
    /* Font */
    font-family: "Fragment Mono";

    /* Margins */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    /* Hide scrollbar (IE, Edge, Firefox) */
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

/* Hide scrollbar (Chrome, Safari, Opera) */
-webkit-scrollbar {
    display: none;
}